.achievement {
    text-align: center;
}
    .achievement > .title {
        display: inline-block;
        width: 100%;
        font-size: 26px;
        padding: 0 60px;
    }
    .achievement > .value {
        display: inline-block;
        width: 100%;
        font-size: 60px;
        color: #36f;
        font-weight: bold;
    }
    .achievement > .subtitle {
        display: inline-block;
        width: 100%;
        font-size: 20px;
        color: #d2a98e;
        font-weight: bold;
    }